.box {
  width: 500px;
  height: 500px;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.btn {
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
